@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

* {
    margin: 0;
    padding: 0;
}
/* added master chief updated the background image*/
body {
    background-color: #102036;
    background-image: url(images/masterchief.png), url(https://store-images.s-microsoft.com/image/apps.25987.14415742612829493.6fadca60-dee3-4f8d-8d0a-1a3ec8b3f5a4.722cfa9d-c39b-44a4-be37-34624b001975?mode=scale&q=90&h=1080&w=1920&background=%23FFFFFF);
    background-size: 40%, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition-property: background-position;
    transition-duration: 1s;
}

body:hover{
    background-position: bottom left, center;
}

.styling-box {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

main {
    padding: 0%;
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(58, 99, 138, 0.37);
}

/* added text shadow */
h1, h3 {
    text-align: center;
    font-family: Quantico, sans-serif, Arial;
    color: white;
    text-shadow: 1px 2px 4px rgba(255, 255, 255, 0.445);
}

h1 {
    margin-bottom: 8px;
}

.answers {
    display: flex;
    flex-direction: column;
    
}

.answers input[type="radio"] {
    opacity: 0;
    /* position: fixed; */
    width: 0;
    margin-bottom: 10px;
    padding: 10px;
}

.answers label {
    background-color: rgba(95, 95, 95, 0.363);
    padding: 15px;
    font-family: Quantico, sans-serif, Arial;
    color: white;
    font-size: 16px;
    border: 2px solid #444444b6;
    border-radius: 4px;
    transition: background .5s, transform .5s;
}

.answers input[type="radio"]:checked + label {
    background-color: #3d588383;
    border-color: #636363af;
    transform: scale(1.1,1.1)
   
}

.answers input[type="radio"]:focus + label {
    border: 2px solid #636363af;
}

.answers button {
    border-radius: 4px;
    margin-top: 18px;
}

.next-button-box {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.submit{
    align-items: center;
}

button {
    font-family: Quantico, sans-serif, Arial;

}

.counter-box {
    margin: 8px 0 12px;
    color: #e3e3e3;
    font-family: Quantico, sans-serif, Arial;
    text-align: center;
}

@media all and (max-height: 600px) {
    * {
        font-size: 12px;
    }

    .answers label {
        padding: 2px;
    }

    .answers input[type="radio"] {
        
        margin-bottom: 2px;
        padding: 8px;
    }

}

@media all and (min-width: 800px){
    
    main{ 
        flex-direction: row;
        justify-content: space-evenly;
         
    }


}

